<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To Do Home Page</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <header>
      <h1>Get Your Shit Together</h1>
    </header>

    <main>
      <form class="add-todo-container" action="/" method="post">
        <input type="text" name="task" placeholder="Add a todo...">
        <input type="submit" name="" value="Add todo">
      </form>

      <div class="mark-complete-container">
        {{#todos}}
        <form class="single-item" action="/completed" method="post">
          <input type="submit" name="" value="Mark complete">
          <input type="text" name="complete" value="{{task}}" readonly>
        </form>
        {{/todos}}
        <!-- Inject data -->

        <!-- <div class="single-item">
          <input type="submit" name="complete" value="Mark complete">
          <label for="complete">Test item 10asdasdasdasd00</label>
        </div>

        <div class="single-item">
          <input type="submit" name="complete" value="Mark complete">
          <label for="complete">Test item 100asdasdasd0</label>
        </div>

        <div class="single-item">
          <input type="submit" name="complete" value="Mark complete">
          <label for="complete">Test item 00</label>
        </div> -->
      </div>

      <div class="completed-tasks-container">
        <h2>Your Completed Tasks</h2>
        <div class="completed-items">
          <!-- Inject data -->
          {{#completed}}
          <li>{{complete}}</li>
          {{/completed}}
          <!-- <li>Item 0</li>
          <li>Item 1</li>
          <li>Item 2</li>
          <li>Item 3</li>
          <li>Item 4</li> -->
        </div>
      </div>

    </main>


  </body>
</html>
